.messagelist .toast-dialog {
  margin: 8px !important;
}

.messagelist .toast-header,
.messagelist .toast-footer {
  padding: 8px !important;
  background-color: #f5f5f5;
  color: #1dbf73;
}

.messagelist .toast-title {
  font-weight: 800 !important;
  color: #1dbf73;
  font-size: 1.3rem;
}

.messagelist .toast-body {
  text-align: left;
  overflow: hidden;
  white-space: pre-line;
}

.messagelist .toast-body div {
  margin: 0px;
}

.messagelist .toast-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast {
  width: 100% !important;
}
.toast-header {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.toast-header .close {
  display: none !important;
}

.author {
  color: #404145;
  font-weight: 800;
  padding: 8px;
}

.toast-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters {
  padding: 16px 8px 8px 8px;
  text-align: left;
}

.date {
  color: #404145;
}

.status {
  padding: 0px 8px 0px 8px;
  font-size: 24px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
