.pointer {
  cursor: pointer;
}
.userSelect {
  user-select: none;
}
.removeStyle {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.underline:hover {
  cursor: pointer;
  text-decoration: underline;
}
